
*.txt
*.txt
*.meta
*.bin
/Unity/Fps/obj/Debug
/Unity/Fps/Logs
/Unity/Fps/Library/PackageCache
*.pdb
/Unity/Fps/Library
/Programming Practice/Vulkan/.vs
/Programming Practice/Vulkan/Vulkan/x64
/Programming Practice/Vulkan/x64
/Unity/Fps/UserSettings
/Unity/Fps/UserSettings
Unity/Fps/UserSettings/Layouts/default-2022.dwlt
/Unity
*.dwlt
